* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #c9ada7;
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 25px;
  text-shadow: 0 0 5px black;
}

.navbar-nav {
  font-family: "Lato", sans-serif;
}

li {
  display: inline-block;
}

.imagenPrincipal {
  background-image: url(imagenes/01-091422-INTL-Homepage-Costume.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  /*overflow: hidden;*/
}

.imagenPrincipal h1 {
  font-size: 30px;
  color: white;
  position: relative;
  font-family: "Sacramento", cursive;
  padding-top: 450px;
  padding-left: 50px;
  animation-name: aparecer;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.informacion {
  height: auto;
  width: 100%;
  color: #ecb0da;
  text-align: center;
}

.item {
  padding: 10px;
}

p {
  color: #ecb0da;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.navegacionProductos {
  background-color: #c9ada7;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.navegacionProductos a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  text-decoration: none;
}

.productosDestacados {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 300px);
  grid-gap: 10px;
  padding: 10px;
}

.conjuntos {
  background-image: url("Imagenes/conjuntos.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  filter: grayscale(100%);
}

.pijamas {
  background-image: url("Imagenes/pijamas.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  filter: grayscale(100%);
}

.bombachas {
  background-image: url("Imagenes/bombachas.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  filter: grayscale(100%);
}

.trajesBano {
  background-image: url("Imagenes/trajesBano.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  filter: grayscale(100%);
}

.conjuntos:hover {
  filter: grayscale(0%);
}

.pijamas:hover {
  filter: grayscale(0%);
}

.bombachas:hover {
  filter: grayscale(0%);
}

.trajesBano:hover {
  filter: grayscale(0%);
}

footer {
  top: 10px;
  background-color: #c9ada7;
  height: 95px;
  padding: 10px;
  text-align: center;
}

footer h2 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 15px;
}

footer a {
  color: white;
}

footer a:active {
  color: #7c7c7e;
}

.redesSociales {
  font-size: 20px;
  letter-spacing: 5px;
  padding-bottom: 6px;
  color: white;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #7c7c7e;
  text-align: center;
}

hr {
  color: #ecb0da;
  background-color: #ecb0da;
}

.cright {
  height: 520px;
}

.cright input {
  position: relative;
  justify-items: center;
  color: #7c7c7e;
  width: 280px;
}

.cright input, textarea {
  outline: none;
  border: solid 1px #ecb0da;
}

.cleft {
  color: #ecb0da;
  height: 200px;
}

.row h2 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  position: relative;
  text-align: center;
  color: #7c7c7e;
}

.cleft p {
  color: #ecb0da;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 5px;
  color: #7c7c7e;
  background-color: #ecb0da;
}

#area {
  width: 280px;
}

.talles {
  height: 300px;
  padding: 10px;
}

.tcontenedor {
  padding: 10px;
}

.italles {
  width: 300px;
}

.carousel-item {
  height: 400px;
  padding-bottom: 10px;
}

.galeria {
  height: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 145px);
  grid-template-rows: repeat(8, 200px);
  grid-gap: 10px;
  padding: 10px;
}

.producto1 {
  background-image: url(./Imagenes/bombacha1.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto2 {
  background-image: url(./Imagenes/bombacha2.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto3 {
  background-image: url(./Imagenes/bombacha3.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto4 {
  background-image: url(./Imagenes/pijama1.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto5 {
  background-image: url(./Imagenes/pijama2.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto6 {
  background-image: url(./Imagenes/trajebano1.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto7 {
  background-image: url(./Imagenes/trajebano2.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto8 {
  background-image: url(./Imagenes/trajebano3.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto9 {
  background-image: url(./Imagenes/trajebano4.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto10 {
  background-image: url(./Imagenes/conjunto1.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto11 {
  background-image: url(./Imagenes/conjunto2.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.producto12 {
  background-image: url(./Imagenes/corpino1.jpg);
  background-size: cover;
  background-position: center;
  border: double 2px #ecb0da;
}

.whats {
  height: 50px;
  width: 50px;
  background-color: rgb(18, 187, 18);
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 0 5px black;
}

.whats i {
  font-size: 35px;
  color: white;
  text-align: center;
  margin-left: 2px;
  margin-bottom: 1px;
}

@media only screen and (min-width: 480px) {
  .productosDestacados {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 300px);
    grid-gap: 10px;
  }
  .cright input {
    width: 430px;
  }
  #area {
    width: 430px;
  }
  .talles {
    height: 400px;
  }
  .italles {
    width: 400px;
  }
  .tcontenedor {
    margin-left: 50px;
  }
  .carousel-item {
    height: 650px;
  }
  .galeria {
    height: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 250px);
    grid-gap: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) {
  header {
    font-size: 20px;
    padding: 10px;
  }
  .imagenPrincipal h1 {
    font-size: 80px;
  }
  .informacion {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
  }
  .navegacionProductos a {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    text-decoration: none;
  }
  .productosDestacados {
    height: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 300px);
    grid-gap: 15px;
  }
  .cright input {
    width: 600px;
  }
  #area {
    width: 600px;
  }
  .talles {
    height: 500px;
  }
  .italles {
    width: 500px;
    margin-left: 350px;
  }
  .tcontenedor {
    margin-left: 400px;
  }
  .tabla {
    font-size: 20px;
    width: 400px;
  }
  .list-group li {
    height: 80px;
  }
  .carousel-inner {
    height: 550px;
    width: 400px;
    margin-left: 450px;
  }
  .carousel-item img {
    background-size: cover;
    background-position: center;
  }
  .galeria {
    height: 1700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 400px);
    grid-gap: 15px;
    padding: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
